*
 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

}

.slider {
  max-width: 1200px;
  margin: auto;

}

.MainBody {
  width: 100%;
  min-height: 500px;
  /* background-color: chartreuse; */
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.MainBody .Contact {
  width: 100%;
  min-height: 100px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  color: darksalmon;
}

.Contact .Search-bar {
  width: 30%;
  padding: 30px 0;
  margin-left: 10px;
  padding-left: 15px;

}

.Search-bar input[type="text"] {
  padding: 10px;
  width: 50%;
  border: 1px solid black;
  border-radius: 5px;
}

.Search-bar button {
  padding: 10px 20px;
  background-color:darkseagreen;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Search-bar button:hover {
  background-color: blueviolet;
}

.MainBody .Contact_1 {
  width: 50%;
}

.Contact_1 ul li {
  list-style-type: none;
  display: inline;
  font-size: 25px;
  gap: 1rem;

}

.Contact_1 ul li a {
  /* justify-content: space-between; */
  padding: 5px;
}

header .slider {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

}

header .header-bg {
  height: 450px;
  background: linear-gradient(to right, #2C2855, transparent), url(office.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


header .content {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: greenyellow;
  font-size: 200%;
}


header .form {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, 80%);
  padding: 1rem;
  display: flex;

  background-color: #745b5b94;
  width: 90%;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 4px #eee;
  border-radius: 1rem;

}
.group p{
  color: black;
  font-weight: bold;
}
header .form form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

header form .group {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 20px;
}


header form .group input {
  padding: 0.5rem 0rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #2C2855bb;
  background-color: transparent;
}

header form .group label {
  position: absolute;
  top: 15px;

}

header form .group p {
  padding: 0.5rem 0rem;
  font-size: 14px;
  color: #333;

}

header form .flex-col label {
  font-size: 12px;
  color: aquamarine;
}

header form .group {
  position: relative;
  display: flex;
  flex-direction: column;
}

header form .group input {
  padding: 0.5rem 0rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #2C2855bb;
  background-color: transparent;


}

header .form .btn {
  width: 50px;
  height: 50px;
  background-color: #2C2855;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  transition: all 0.6s;
}

header .form .btn:hover {

  background-color: #2C2855bb;

  font-size: 25px;
}


.main-box{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.BOX1{
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #9e9a9a;
  border-radius: 10px;
}
.BOX1 img
{
    width: 350px;
    height: 400px;
    box-shadow: 0 0 2px 2px;
    border-radius: 10px;
}
.data
{
  margin-left: 130px;
  padding-top: 20px;
}
.BOX2{
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #9e9a9a;
  border-radius: 10px;
}
.BOX2 img
{
    width: 350px;
    height: 400px;
    box-shadow: 0 0 2px 2px;
    border-radius: 10px;
}
.BOX3{
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #9e9a9a;
  border-radius: 10px;
}
.BOX3 img
{
    width: 350px;
    height: 400px;
    box-shadow: 0 0 2px 2px;
    border-radius: 10px;
}
h4{
  text-align: center;
  font-size: 30px;
}
.main
{
  background-color: aqua;
}



.big-box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;

}

.big-box .smallbox1 {
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #bf4b4b;
  border-radius: 10px;
  
}

.smallbox1 img{
  width: 350px;
    height: 400px;
    box-shadow: 0 0 2px 2px;
    border-radius: 10px;
  
}

.big-box .smallbox2 {
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #c04e4e;
  border-radius: 10px;

}

.smallbox2 img
{
  width: 350px;
  height: 400px;
  box-shadow: 0 0 2px 2px;
  border-radius: 10px;
  
}

.big-box .smallbox3 {
  width: 350px;
  height:500px ;
  box-shadow: 0 0 2px 2px;
  background-color: #ba5e5e;
  border-radius: 10px;
 
}
.smallbox3 img
{
  width: 350px;
    height: 400px;
    box-shadow: 0 0 2px 2px;
    border-radius: 10px;
}

.banner1
{
  margin-left: 60px;
  padding-top: 35px;

}
.banner2
{
  margin-left:70px;
  padding-top: 20px;
}
.banner3
{
  margin-left: 60px;
  padding-top: 35px;
}
.main{
  margin-top: 20px;
}


.propertyoptions {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  min-height: 300px;
  justify-content: center;
  margin-top: 10px;
  /* border: 2px solid black; */
  /* background-color: aquamarine; */
  margin-top: 20px;

}

.propertyoptions .propertymainbox {


  font-size: 15px;
  /* display: flex; */
  flex-direction: row;
  width: 20%;
  /* background-color: rgb(7, 100, 69); */
  justify-content: space-between;

}
.propertyoptions .propertymainbox ul li{
  padding-top: 10px;
}
.text h1{
  padding: 10px;
}

/* .propertymainbox h3{
    height: 30%;
  } */
h5 {
  font-size: 15px;
  color: red;
  /* border: 1px solid #000; */
}

.propertyoptions .BHK-Sales {
  /* background-color: rgb(105, 4, 123); */
  font-size: 15px;
  /* display: flex; */
  /* flex-direction: row;  */
  flex-basis: 25%;
  /* align-items: center;
    justify-content: center;  */

}
.propertyoptions .BHK-Sales ul li{
  padding-top: 10px;
}
.propertyoptions .Flat-Searches {
  font-size: 15px;
  /* display: flex; */
  /* background-color: rgb(0, 172, 29); */
  /* flex-direction: row;  */
  flex-basis: 25%;
  /* align-items: center;
    justify-content: center; */

}
.propertyoptions .Flat-Searches ul li{
  padding-top: 10px;
}
.propertyoptions .house-searches {
  font-size: 15px;
  /* display: flex; */
  /* flex-direction: row;  */
  flex-basis: 25%;
  /* background-color: rgba(142, 4, 68, 0.537); */
  /* align-items: center;
    
    justify-content: center; */

}
.propertyoptions .house-searches ul li{
  padding-top: 10px;
}
.About
{
  color: #fff;
  
}
.About h6
{
  font-size: 30px;
  margin-left: 400px;
}
.footer {
 
  background-color: rgb(45, 45, 45);
}
.footer p
{
  font-size: larger;
  text-align: center;
  color: #eee;
  padding: 10px;
}
.icons 
{
  color: #fff;
  margin-left: 500px;
  margin-top: 10px;
}
.icons i
{
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: rgb(255, 0, 221);
}